DB_URL=YOUR_DB_URL

JWT_SECRET=YOUR_JWT_SECRET
JWT_EXPIRATION=YOUR_JWT_EXPRATION

GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
GOOGLE_CALLBACK_URL=YOUR_GOOGLE_CALLBACK_URL

FACEBOOK_CLIENT_ID=YOUR_FACEBOOK_CLIENT_ID
FACEBOOK_CLIENT_SECRET=YOUR_FACEBOOK_CLIENT_SECRET
FACEBOOK_CALLBACK_URL=YOUR_FACEBOOK_CALLBACK_URL

APPLE_CLIENT_ID=YOUR_APPLE_CLIENT_ID
APPLE_TEAM_ID=YOUR_APPLE_TEAM_ID
APPLE_KEY_ID=YOUR_APPLE_KEY_ID
APPLE_PRIVATE_KEYFILE_PATH=YOUR_APPLE_PRIVATE_KEYFILE_PATH
APPLE_CALLBACK_URL=YOUR_APPLE_CALLBACK_URL

HOME_URL=YOUR_HOME_URL

REQUEST_TIME_CAP=YOUR_REQUEST_TIME_CAP
REQUEST_COUNT_CAP=YOUR_REQUEST_COUNT_CAP

COOKIE_MAX_AGE=YOUR_COOKIE_MAX_AGE
COOKIE_SECRET=YOUR_COOKIE_SECRET